* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.quiz {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.options button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border: none;
    background: #38bdf8;
    border-radius: 5px;
    cursor: pointer;
}

button {
    margin-top: 10px;
    padding: 10px;
}