body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

nav{
background:#1e293b;
padding:15px;
text-align:center;
font-weight:bold;
}

.container{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:80vh;
}
