* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0f172a, #2563eb);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */
.container {
    width: 300px;
}

/* FORM BOX */
.form-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
}

/* INPUTS */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}