* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.player {
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.player img {
    width: 200px;
    margin: 20px 0;
    border-radius: 10px;
}

.controls button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}