* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

/* INPUT */
input {
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    border: none;
}

/* BUTTON */
button {
    padding: 10px;
    margin-left: 5px;
    background: #38bdf8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* TASK LIST */
ul {
    margin-top: 20px;
    list-style: none;
}

li {
    margin: 10px 0;
    background: #334155;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

/* DELETE BUTTON */
li button {
    background: red;
    color: white;
}