* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #1e293b;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 20px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
}

/* SECTIONS */
section {
    padding: 40px;
    text-align: center;
}

/* PROJECT CARDS */
.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}